# Arquivos de ambiente (credenciais)
.env

# Bancos de dados locais
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db